[2020-03-05 15:32] jamesaoverton opened #1 "Implement src/cineca.py script to create a ROBOT template"
We need a `src/cineca.py` script that will convert `data/cineca.tsv` into a ROBOT template at `build/cineca.tsv`. The `Makefile` already has stubs for this.

Because the source spreadsheet is for humans rather than machines, the script will break if people change the formatting. That's to be expected. Still, the goal is transparent, automated workflow showing all our steps. I don't want to manuall

[2020-03-05 17:41] jamesaoverton opened #2 "Extract NCIT module based on data/cineca.tsv"
The `data/cineca.tsv` file has NCIT term IDs for most rows. We want to extract a subset of NCIT for those terms, then compare that hierarchy to the asserted hierarchy in `data/cineca.tsv`.

MIREOT extraction should be fine for now. Since the NCIT OWL file is biggish, it would be nice to use the new MIREOT-RDFXML code from https://github.com/ontodev/robot/pull/605. (It might have fancy nested OWL a

[2020-03-06 13:27] jamesaoverton opened #3 "Add metadata for CINECA"
We should include various metadata in each of the OWL files we build. For starters, how about a `metadata/cineca.ttl` file like this, that we can merge into the results:

[code]

The `Makefile` should also add `owl:versionIRI` and `dcterms:date`.

We could get fancier with [PROV](https://www.w3.org/TR/prov-primer/) modelling.

@mcourtot Can you or your team please help fill some of these fields?

[2020-03-06 13:34] jamesaoverton opened #4 "Decide on an IRI policy"
Our ontology terms need IRIs. This is both a technical and a social issue:

1. technical: It's good for IRIs to live behind some sort of PURL redirect system, so if the source documents move the PURL system can be updated, and the IRIs will still resolve.

2. social: Names matter to people, and an IRI is one kind of name.

Until this is figured out, I guess we can point to this GitHub repo <https:

[2020-03-06 13:43] jamesaoverton opened #5 "Generate OWL file for Maelstrom"
- [x] Copy <https://github.com/maelstrom-research/maelstrom-taxonomies/blob/master/AreaOfInformation.yml> to `data/maelstrom.yml`
- [x] Update `data/README.md`
- [x] Create `src/maelstrom.py` script to generate a basic `build/maelstrom.tsv` ROBOT template
- [x] Create `metadata/maelstrom.ttl`, note the CC-by-nc-nd license
- [x] Update `Makefile` to build `build/maelstrom.owl` from the template and

[2020-03-06 14:48] mcourtot commented on #4
I'd prefer to stick with numerical IDs for terms.

Not sure about the base IRI... can we have something that would be along the lines of purl.ihcc.org/cineca, purl.ihcc.org/xxxx (where xx is a short name for the data dictionary source)?

Not sure how easy or not it would get to have a CNAME set for those purls though.

I don't think we'll set up a redirect right now, but it is good to be prepared

[2020-03-06 14:50] mcourtot commented on #3
fantastic - love the ttl.

is dcterms:rights just a more human readable version than the license URL?

[2020-03-06 15:05] jamesaoverton commented on #3
That's my understanding based on <https://www.dublincore.org/specifications/dublin-core/dcmi-terms/> which says: (license) "Recommended practice is to identify the license document with a URI. If this is not possible or feasible, a literal value that identifies the license may be provided" and (rights) "Typically, rights information includes a statement about various property rights associated wit

[2020-03-06 15:12] jamesaoverton commented on #4
<http://ihcc.org> belongs to Indian Hills Community Church 😄

Maybe something like <https://ihcc.g2mc.org/ontologies/> would be easier than setting up a new subdomain. It doesn't have to say "purl". Then term IDs like <https://ihcc.g2mc.org/ontologies/CINECA_0001234>.

[2020-03-06 16:05] mcourtot commented on #3
saving work sounds great ;)
I had not seen dcterms:rights before, thus the question. We'll go for CC-BY, happy with whatever your preferred encoding.

side note not relevant to IHCC: wondering if we need both - what happens if there is contradiction? have added to the OBO tracker...

[2020-03-06 17:57] #1 closed

[2020-03-06 19:46] mcourtot commented on #5
I went to check the CC license content and information about what constitutes a derivative work.
1. [This document ](https://mollykleinman.com/2008/10/20/cc-howto-no-derivatives/) states "A derivative work involves enough creativity and originality that it constitutes a new copyrightable work. Simply converting a work from one medium to another — from print to digital, or CD to MP3 — does not prod

[2020-03-08 17:30] jamesaoverton opened #8 "Generate OWL for Genomics England"
Similar to #1 and #5, but bigger.

@mcourtot Can you please confirm that we're working with their v6.0? I see newer versions here, but they appear to be drafts:

https://cnfl.extge.co.uk/display/GERE/Main+Programme+Data+Releases

- [x] Copy <https://cnfl.extge.co.uk/download/attachments/113189195/Data%20Dictionary%20Main%20Programme%20v6%20%281%29.xlsx?version=1&modificationDate=1551371214157&api=

[2020-03-08 17:34] jamesaoverton commented on #3
@mcourtot Do you have preferences for the other TODO items: title, description?

[2020-03-09 15:38] mcourtot commented on #3
Title: Genomics Cohorts Knowledge Ontology (GECKO)

Description: An ontology to represent genomics cohort attributes. The GECKO is maintained by the CINECA project, https://www.cineca-project.eu, and standardises attributes commonly used for genomics cohort description as well as individual-level data items. A series of tools is being developed to enable automated generation of harmonised data fil

[2020-03-09 16:14] mcourtot commented on #2
As mentioned by email, the NCIT mappings are medium-trustable. There may be better terms available in other resources. I'm hoping we'll be able to run mapping tools eg OxO to generate the list of mappings as cross-refs for each term.

[2020-03-09 17:29] beckyjackson commented on #8
Do we want these fields to be classes or properties (or we could have both?)?
Additionally, should we be parsing the values field to make instances?

[2020-03-09 18:12] jamesaoverton commented on #8
Didn't mean to close this!

[2020-03-09 18:32] jamesaoverton commented on #8
Pleas try to do this one like the others (rows become classes, columns are annotation properties), and we'll see what we've got.

[2020-03-09 22:02] jamesaoverton commented on #8
I'll count this as closed by #10, and we'll create new issues for revisions.

[2020-03-09 22:02] #8 closed

[2020-03-09 22:05] jamesaoverton commented on #2
That's fine. I updated the demo site with new versions of the trees we've got so far.

[2020-03-10 13:37] jamesaoverton commented on #3
@beckyjackson Please implement this, and rename everything except `data/cineca.tsv` from "cineca" to "gecko".

@mcourtot This document about ontology metadata showed up on obo-discuss. If you want richer metadata, let's use it as a starting point: https://www.isibang.ac.in/ns/mod/index.html

[2020-03-10 13:38] #2 closed

[2020-03-13 15:20] jamesaoverton commented on #3
We'll count this as closed by #12, and revise as needed.

[2020-03-13 15:20] #3 closed

[2020-03-13 16:32] jamesaoverton commented on #4
EBI seems to use http://identifiers.org

[2020-03-17 14:50] jamesaoverton opened #13 "Start on mockup"
One of the main deliverables for this project is an OWL file that can be loaded into Overture and drive a faceted search interface similar to this:

https://hcmi-searchable-catalog.nci.nih.gov

There should be three primary facets (on the left), with one level of children:

- Clinical Finding (e.g. phenotype, disease)
- Measurement (e.g. assay)
- Exposure Event

The table at the bottom should show

[2020-03-18 16:19] beckyjackson commented on #13
Can we output GECKO organized this way, or do we need to process this somewhere else? Right now there's not much organization.

[2020-03-23 14:15] jamesaoverton opened #14 "Create Google Sheet for mappings"
Although we plan to use other tools in the future, for now we'll just use a Google Sheet for mappings.

[2020-03-23 14:54] jamesaoverton commented on #13
@beckyjackson Let's get the stuff you showed on Friday in to a PR.

[2020-03-23 17:43] jamesaoverton opened #15 "Convert Vukuzazi to OWL"
Vukuzazi - (northern KwaZulu-Natal - South Africa) - Interactions between HIV, tuberculosis (TB), environmental exposures and non-communicable diseases. (Public and Creative Commons BY (CC BY))

- [x] store `.tsv` or `.xlsx` in `data/`
- [x] update `data/README.md`
- [x] write Python conversion script
- [x] create `metadata/` TTL
- [x] update `Makefile` to build OWL

[2020-03-23 17:44] jamesaoverton opened #16 "Covert KoGES to OWL"
The Korean Genome and Epidemiology Study (KoGES) - The study is a consortium project consisting of six prospective cohort studies that would be categorized into population-based and gene-environment model studies (public and no licence).

http://www.cdc.go.kr/contents.es?mid=a50401010100

- [x] store `.tsv` or `.xlsx` in `data/`
- [x] update `data/README.md`
- [x] write Python conversion script
-

[2020-03-23 17:45] jamesaoverton opened #17 "Convert Golestan Cohort Study to OWL"
Golestan Cohort Study - Iran - Oesophageal cancer patients (OK to use in demo no licence)

- [x] store `.tsv` or `.xlsx` in `data/`
- [x] update `data/README.md`
- [x] write Python conversion script
- [x] create `metadata/` TTL
- [x] update `Makefile` to build OWL

[2020-03-23 17:45] jamesaoverton opened #18 "Convert SAPRIN to OWL"
South African Population Research Infrastructure Network (SAPRIN) - South Africa - South African population - Health and Socio-Demographic (Public and Creative Commons BY (CC BY))

- [ ] store `.tsv` or `.xlsx` in `data/`
- [ ] update `data/README.md`
- [ ] write Python conversion script
- [ ] create `metadata/` TTL
- [ ] update `Makefile` to build OWL

[2020-03-23 17:50] jamesaoverton commented on #15
@beckyjackson Please revise that checklist as needed, and copy your revised checklist to the other conversion issues.

[2020-03-25 11:08] jamesaoverton commented on #13
Closed by #20

[2020-03-25 11:08] #13 closed

[2020-03-25 11:10] jamesaoverton commented on #15
Closed by #21

[2020-03-25 11:10] #15 closed

[2020-03-25 11:12] jamesaoverton opened #23 "Compress ncit.owl for storage"
Please update the Makefile to store `ncit.owl` as compressed. It's annoyingly large.

[2020-03-25 11:16] jamesaoverton commented on #14
Created here https://docs.google.com/spreadsheets/d/1IRAv5gKADr329kx2rJnJgtpYYqUhZcwLutKke8Q48j4

Closed by #20

[2020-03-25 11:16] #14 closed

[2020-03-25 11:26] jamesaoverton commented on #17
Closed by #22

[2020-03-25 11:26] #17 closed

[2020-03-25 17:38] #23 closed

[2020-03-27 09:34] #18 closed

[2020-03-27 15:44] beckyjackson commented on #16
This is done, but I'm going to wait on #26 before making the PR.

[2020-03-30 18:50] #16 closed

[2020-03-31 16:36] mcourtot opened #28 "Mockup browser down?"
https://ihcc.ontodev.com/branches/master/views/build/browser/index.html returns FileNotFoundError: [Errno 2] No such file or directory: '/var/www/ihcc.ontodev.com/workspace/master/build/browser/index.html'

[2020-03-31 16:47] jamesaoverton commented on #28
Sorry! I fixed that.

That's the older browser demo. The newer version is here: https://ihcc.ontodev.com/branches/master/views/build/index.html

[2020-03-31 16:47] #28 closed

[2020-04-02 15:50] jamesaoverton opened #29 "Generate list of CINECA terms for each cohort"
As discussed on our 2020-03-27 call, we need to supply a list of the cohorts and the data they collect using the CINECA model. I think the following JSON will work:

- object
    - key: cohort name string
    - value: array of CINECA label strings

[code]

We will generate this data from more detailed ontology mappings.

@mcourtot Does this sound right?

[2020-04-02 16:04] jamesaoverton opened #30 "Map KoGES to GECKO, extending GECKO as needed"
We selected KoGES for the first round of mapping because it's fairly small and seems like the closest fit to CINECA.

@beckyjackson is currently working on this, and has updated the [GECKO Mappings](https://docs.google.com/spreadsheets/d/1IRAv5gKADr329kx2rJnJgtpYYqUhZcwLutKke8Q48j4) sheet with two new tabs:

- "KoGES" lists all KoGES terms then asserts that they are 'subclass of' or 'equivalent to

[2020-04-02 19:11] jamesaoverton commented on #29
@beckyjackson generated this full version for KoGES from the latest mappings. Note that when a specific category such as "urine" is included, we also include its ancestors "sample type" and "biosample".

[code]

[2020-04-02 21:20] jamesaoverton commented on #5
The code is ready to go, but we haven't had a clear answer about the license.

[2020-04-02 21:24] jamesaoverton commented on #30
We've updated the [GECKO Mappings](https://docs.google.com/spreadsheets/d/1IRAv5gKADr329kx2rJnJgtpYYqUhZcwLutKke8Q48j4) sheet and [demo site](https://ihcc.ontodev.com/branches/master), and would like feedback on these two trees:

- [GECKO full tree](https://ihcc.ontodev.com/branches/master/views/build/gecko-full-tree.html) based on the "Index" sheet
- [KoGES to GECKO tree](https://ihcc.ontodev.com

[2020-04-03 07:18] mcourtot commented on #5
Isabel confirmed they were happy for us to use Maelstrom. They will work on updating the licence. In the meantime we can proceed with conversion to OWL as per above. We will only refer to it from GECKO at the moment until the licence is updated.

[2020-04-03 18:04] jamesaoverton commented on #30
We're happy with this, and have merged the code.

@mcourtot Would you (or someone) like to review this?

[2020-04-06 21:35] rosibaj commented on #29
@jamesaoverton I have reviewed the proposed JSON above.

It would be best if we could get this  in a slightly different format.  I have a example here of how the JSON  for each cohort could be delivered:
https://github.com/hlminh2000/ihcc_demo/blob/master/api/assets/documents.json

I have divided this JSON into two areas: cohort administration (which i know you may not have access to right now). I

[2020-04-08 15:59] mcourtot opened #32 "Identify and collect cohort administration variables"
In our last catch up we discussed the possibility of collecting some cohort level administrative metadata for each cohort. This could be stored in a separate ttl/owl file for each cohort. The OICR [desired JSON output](https://github.com/jamesaoverton/IHCC/issues/29) includes some of that information.

TODO:
- [ ] @rosibaj to make a flat list of attributes required per cohort
- [ ] Giselle to fetc

[2020-04-08 16:07] rosibaj commented on #32
@mcourtot The first attributes i listed were based off of the IHCC member cohort list int he website (https://ihcc.g2mc.org/membercohorts/).  The flat list of variables based on that would be:

- cohort_name
- countries
- current enrollment
- target enrollment
- pi_lead
- website

There may be more variables of interest, perhaps about data sharing potential/rules. I am limited as I do not know wha

[2020-04-09 17:27] beckyjackson commented on #29
I created a new script to generate something like that example for KoGES. I'm working on mapping GCS (Golestan Cohort Study) now, so I can have a second example soon. Let me know if this looks good, or if you see anything that could use fixing!

[code]

[2020-04-10 09:46] mcourtot opened #33 "Create IHCC github organisation and decide licensing"
As discussed on our call April 3rd, Thomas and Philip will look into those.

Thomas said "Agreed we should do this so we have a place to put all the work products from the atlas. I'm happy with CC-BY for data, and Apache 2.0 for code (will check with Christina Y that she is happy with this). I will email the IHCC SC to let them know that we are setting this up."

[2020-04-10 11:26] jamesaoverton opened #34 "Move mapping tables into version control"
While the Google Sheet is convenient for editing and sharing, now that we're confident in the approach we should be keeping copies of the TSV files with the key mapping data in git: `index.tsv`, `properties.tsv`, and the sheet for each cohort:

https://github.com/jamesaoverton/IHCC/blob/master/Makefile#L125

They can go in a `mappings/` directory.

[2020-04-10 11:38] jamesaoverton commented on #29
@rosibaj Is this format acceptable?

@mcourtot We're generating this JSON from this table <https://ihcc.g2mc.org/membercohorts/> (despite some weirdness) and our mappings. The mappings are work in progress, but we could generate fake mappings. Then we could supply JSON for a large number of cohorts from that table. Would that be helpful?

[2020-04-10 11:56] jamesaoverton opened #35 "Create simple summary page for each cohort"
Using the data we're collecting for #32 (and #29), I'd like a simple summary page for each cohort that we're showing in the mockup browser. The page should include that cohort data, and when available:

- link to the data dictionary document (preferably the original, otherwise our copy in GitHub)
- link to GECKO mapping sheet for that cohort
- link to the trees and OWL files we're building

These

[2020-04-10 12:06] jamesaoverton opened #36 "Add cohort-only view to browser mockup"
For our development purposes, I think it's important to show all the fields collected for each cohort in the mockup browser. However I would also like to be able to see just the matching cohorts, without seeing dozens of rows for their matching fields.

I'm hoping this can be added to the browser mockup without too much trouble. Near the search box at the top I would add a `select` element with tw

[2020-04-11 15:34] beckyjackson commented on #35
Here's what I have so far for the mockup -
![image](https://user-images.githubusercontent.com/16750150/79048041-32dccf80-7bcf-11ea-8ec2-86361c479d53.png)

Do we want to add more to it?

[2020-04-11 17:16] jamesaoverton commented on #35
That’s great.

[2020-04-11 17:18] #34 closed

[2020-04-11 18:59] #35 closed

[2020-04-14 07:28] mcourtot commented on #32
Based on the IHCC and DPUk websites I have this list:
- Cohort Name
- Short description
- Project website
- PI - Lead
- Contact
- Participating countries
- Current Enrolment number
- Target Enrolment number
- Enrolment Period
- Age at recruitment
- Sex
- Genomic Data
- Environmental Data
- Biospecimens
- Phenotypic /Clinical Data
- Data Sharing Potential
- Data access process (direct access via po

[2020-04-14 07:39] mcourtot commented on #29
Do we want to have one gigantic list, or do we want to split?
Most projects make a distinction between cohort attributes and data, see for example https://portal.dementiasplatform.uk/CohortMatrix

Maelstrom also clearly divides activities around cohort cataloguing and metadata harmonisation.

@rosibaj what is the desired format for you?

[2020-04-14 14:25] rosibaj commented on #29
I have reviewed the above.

@mcourtot im not sure what you mean by `one giant list or split`, but one file of all the cohorts as objects (presented above) will be fine for the demo.

@beckyjackson, this format looks fine.  For the metadata from the member cohort list (https://ihcc.g2mc.org/membercohorts/ ), is it also possible to include the "available data types" as an array at the top level? i.e

[2020-04-14 15:11] mcourtot commented on #32
Can we please add licence?

[2020-04-14 15:16] mcourtot commented on #32
@GiselleMarie - can you please help with collecting this data? @jamesaoverton and @beckyjackson have already extracted what they could from the IHCC website table (see https://github.com/jamesaoverton/IHCC/issues/29#issuecomment-611994128), but if you could keep an eye out on what may be missing in the file they produce that'd be great - I suspect it will need a little bit of manual TLC.

[2020-04-14 15:29] jamesaoverton commented on #32
@mcourtot A spreadsheet with these columns would be great.

We have KoGES mapped and are working on GCS, then we'll work our way down the list.

[2020-04-14 16:00] mcourtot commented on #32
Do you have the version you extracted from the IHCC available as seed? Then we don't need to reextract these...

[2020-04-14 19:01] jamesaoverton commented on #32
We have this file https://github.com/jamesaoverton/IHCC/blob/master/data/member_cohorts.csv

[2020-04-14 20:20] jamesaoverton commented on #29
I think it makes sense to send one JSON file to @rosibaj. We'll add the `available_data_types`.

[2020-04-15 13:55] jamesaoverton commented on #29
@rosibaj I hope this file works for you:

https://github.com/jamesaoverton/IHCC/blob/master/data/cohort-data.json

If not, feel free to reopen this issue or open a new issue.

Note that only the KoGES mapping is complete, GCS is partial, and the other mappings are faked for testing purposes. We will update that file as we progress with the mappings.

[2020-04-15 13:55] #29 closed

[2020-04-15 17:40] jamesaoverton commented on #36
I updated the development site: https://ihcc.ontodev.com/branches/master/views/build/index.html

[2020-04-15 18:30] #36 closed

[2020-04-17 18:01] rosibaj opened #44 "Updates to data for May demo"
Based on the April 17th meeting, we will want to do one update of the data before the next demo.

These updates will include:
- fixed format of the existing dataset
- including all 67 cohorts that are available from the IHCC website CSV

From the JSON provided, we had to fix a couple things:
1. JSON strucure must be consistent between all objects.  A category cannot be both an array and an object.

[2020-04-17 18:03] jamesaoverton commented on #44
Thanks! @beckyjackson will make those changes, then add all the cohorts from https://github.com/jamesaoverton/IHCC/blob/master/data/member_cohorts.csv

I guess there's 67 rows, for 66 cohorts.

[2020-04-17 18:18] rosibaj commented on #44
@beckyjackson one additional request to change the `available_data_types` format (edited as No. 3 above)

[2020-04-20 14:12] beckyjackson commented on #44
@rosibaj - for the consistency, would something like this work for you, or do you want the lowest-level always to be a list?
[code]

[2020-04-20 14:16] rosibaj commented on #44
@beckyjackson No, what you have proposed above would not work, unless each of the `    "alcohol": {},` has additional elements in the ontologies that are assigned afterwards. So i think the best assumption her is:

Yes,
- the lowest level should always be a list
- the lowest level needs to be consistent between all cohort objects

[2020-04-20 14:27] beckyjackson commented on #44
For many children of 'questionnaire/survey data', there are next-level children, like this example:

[code]

But the problem comes if a cohort only looks at signs and symptoms from questionnaire/survey data, because this one doesn't have any children:

[code]

How would you like the data to show up in the above case, where only 'signs and symptoms' shows up under 'questionnaire/survey data'?

Than

[2020-04-20 14:59] rosibaj commented on #44
@beckyjackson Its imperative that the JSON structure between cohorts be _exactly_ the same.  This means that we definitely cannot have `"questionnaire/survey data"` as both an array and an object.

This is a harmonization issue with these options as solutions that I can see for now:

1. ignore the values on cohorts with no children
2. harmonize a single structure that works for all cohorts

2) see

[2020-04-20 17:53] beckyjackson commented on #44
I want to make sure I'm interpreting this correctly:

If a cohort looks at only signs and symptoms, they get:
[code]

If a cohort looks at just medication (not worrying about the sub-categories, therefore this gets `null` since it **has** children, just not applicable for this cohort) and signs and symptoms they get:
[code]

Finally, if a cohort were to look at posology from medication, they would

[2020-04-20 19:56] rosibaj commented on #44
@beckyjackson i think that looks correct based on your description of cohorts!

[2020-04-21 14:37] beckyjackson commented on #44
Great - following this pattern, I regenerated the cohort data for what we currently have. If you have a chance, can you take a look at it and make sure it's what you expect? https://github.com/jamesaoverton/IHCC/blob/data-update/data/cohort-data.json

Thanks so much!

[2020-04-21 15:09] jamesaoverton opened #45 "Set up OLS and OxO instances"
I have the required credentials. There's a bit of a learning curve, but I'll work on this.

[2020-04-21 15:45] rosibaj commented on #44
@beckyjackson I have reviewed - This structure looks great but there is still one small issue in the naming of fields:

Can we please remove spaces/special characters from fields names? For examples:
- basic cohort attributes <-- remove ` ` (spaces)
- socio-demographic and economic characteristics <-- remove `-` and ` `

[2020-04-21 15:51] rosibaj commented on #44
@beckyjackson I have reviewed - This structure looks great but there is still one small issue in the naming of fields:

Can we please remove spaces/special characters from fields names? For examples:
- basic cohort attributes <-- remove ` ` (spaces)
- socio-demographic and economic characteristics <-- remove `-` and ` `

[2020-04-21 16:07] rosibaj commented on #44
@beckyjackson sorry for the multiple comments! was a result of the github incident!

[2020-04-21 16:23] beckyjackson commented on #44
No worries! I couldn't even respond haha. I updated the file in the PR to remove the spaces and special characters.

[2020-04-23 07:51] mcourtot commented on #32
@jamesaoverton @beckyjackson would you be able to use the file sent by Eric at https://docs.google.com/spreadsheets/d/1lHDCzOOdUZy4d0NFaO36p0jV_S85tec5kUa8limfOqw/edit#gid=1233474139 directly, or do we need to format it differently or...?

[2020-04-23 14:32] beckyjackson commented on #32
Sure @mcourtot !

Is it possible to make that sheet public so that I can download it automatically in our `Makefile`?

[2020-04-23 14:48] mcourtot commented on #32
Let's check with Eric on Friday - can you run it without this to start with?

[2020-04-23 14:49] beckyjackson commented on #32
Yeah, no problem! Thanks.

[2020-04-23 15:29] jamesaoverton commented on #32
Sorry, I'm confused.

@mcourtot The Google Sheet has basically the same columns as our `member_cohorts.csv`. It has more cohorts, but they aren't marked as public. I don't think we can should publish information about cohorts unless they're marked "Information available on open website" = "Yes". So I don't think this Google Sheet gives us new information that we can share.

Can you please confirm?

[2020-04-23 16:00] mcourtot commented on #32
I *think* Eric said he would send infomration we could use publicly; but let's check with him.

[2020-04-23 16:26] jamesaoverton commented on #44
@rosibaj We're hoping that https://github.com/jamesaoverton/IHCC/blob/master/data/full-cohort-data.json is exactly what you want. If you have any trouble with it, please reopen this issue.

[2020-04-24 14:58] rosibaj commented on #44
@jamesaoverton It seems i dont have the permission to repoen this issue.  There are 2 small things:  Is it possible to have these fixed?

- tiny thing… `cirulation_and_respiration` is supposed to be `circulation_and_respiration` ? (misspelled circulation
- Can all cohort documents contain all possible fields, se either to null if a key/value or and empty array if the data does not exist for that c

[2020-04-24 16:03] beckyjackson commented on #44
Hi @rosibaj - thanks for catching that typo, that's an easy fix to make!

As for your second point, I'm not sure I understand what you're asking.

In current structure, if a cohort looks at a broad category that has children, but the cohort doesn't care about the children, we give that category a `null` to keep the structure the same. For example, if a cohort looks at `weight`:
[code]

But if they

[2020-04-24 16:40] rosibaj commented on #44
@beckyjackson

I understand the distinction that you are making.  In the long-run, i think a better way to do this is to actually assign a value (ex `Not gathered`) to be explicit about this. However, thats a discussion for a later time!

For the sake of the demo, can we just have the data formatted like this for now:

[code]
But if they just look at the broad category of "anthropometry" rather th

[2020-04-24 16:47] beckyjackson commented on #44
Sure, that's not a probelm. Then, do you want the upper-level broad categories to all be displayed, and have `null` if they are not collected?

[2020-04-24 16:54] rosibaj commented on #44
@beckyjackson yes, but populated as empty data.  Using `biosample` as an example, i would expect to see this in the `'`Genomics England / 100,000 Genomes Project"` cohort document:

https://github.com/jamesaoverton/IHCC/blob/96848a04b640e29d5e323c27f2502744d93324a5/data/cohort-data.json#L86

[code]

[2020-04-24 17:10] beckyjackson commented on #44
I'm sorry, I'm still a bit confused. Going back to the antropometry data, say they don't collect **any** questionnaire/survey data, are you saying you would still want to display all the fields that appear in the CINECA structure, even though they don't have anything mapped to this:
[code]

How does this differ from if they do collect anthropometry data, but don't have something mapped to the chil

[2020-04-24 19:40] rosibaj commented on #44
@beckyjackson
In your examples, you are making the assumption that `    "anthropometry": [],` and `  "anthropometry": null` mean different things.  In fact, in the way that you are translating this informatino they _do_ mean different things.

In the faceted search display (based on Elasticsearch index) there is no functional difference between a `null` and `empty` field. Both would be an empty fa

[2020-04-24 22:09] beckyjackson commented on #44
I changed the `null` values to empty arrays and fixed the typo - please see the data file [here](https://github.com/jamesaoverton/IHCC/blob/data-update-2/data/full-cohort-data.json).

[2020-04-25 12:51] jamesaoverton commented on #44
@rosibaj We've updated https://github.com/jamesaoverton/IHCC/blob/master/data/full-cohort-data.json with those changes.

[2020-04-25 12:51] #44 closed

[2020-04-27 13:03] jamesaoverton commented on #45
These should be branded for IHCC: logo in the corner from https://ihcc.g2mc.org, g2mc logo funding from bottom, link to main IHCC website somewhere.

See this OLS issue for branding: https://github.com/EBISPOT/OLS/issues/332

[2020-04-28 20:26] jamesaoverton commented on #45
@mcourtot I now have an OLS instance running on my laptop, loading our seven ontologies.

It's based off the `master` branch of OLS, and looks like <https://www.ebi.ac.uk/ols/index>. I also tried the `ebi-rebranded-merged2` branch, as referred to in https://github.com/EBISPOT/OLS/issues/332. The basic rebranding stuff seems to work but lots of fundamental things are broken, like browsing ontologie

[2020-04-29 13:01] jamesaoverton commented on #45
Update: I got the branding working using @matentzn's OLS branch <https://github.com/EBISPOT/OLS/tree/make-test-ui>, and I sent @mcourtot a screenshot. Now I'm working on deploying this to Embassy.

[2020-04-29 15:35] jamesaoverton commented on #45
I now have a basic OLS instance running on the Web: <http://193.62.55.169:8080>

[2020-05-06 10:50] mcourtot commented on #33
https://github.com/IHCC-cohorts created by @tk2

@jamesaoverton and @beckyjackson can we move stuff over?

[2020-05-06 11:56] jamesaoverton commented on #33
Yes, it looks like everything is ready. One last question: What do you want me to name this repo?

The current repository name is "IHCC", but I think that's more general than you want going forward. Ideas:

- IHCC-ontologies
- IHCC-data-harmonization

[2020-05-06 12:19] mcourtot commented on #33
I'd go for 3. unless you think there is a benefit repeating the IHCC as in 2. ?

[2020-05-06 12:27] jamesaoverton commented on #33
I agree that 3 is the best. I'll do that now. We can still change our mind later.

[2020-05-06 12:31] jamesaoverton commented on #33
Ok. Here we are in our new home.

[2020-05-06 12:39] jamesaoverton opened #50 "Move GECKO to its own repository"
We're planning to submit GECKO to OBO. Hopefully other groups will use GECKO independently of the IHCC data harmonization work, so it makes sense to separate the ontology into its own repo. Here's a first draft of a plan:

1. create https://github.com/IHCC-cohorts/GECKO repo
2. create `src/ontology/` with `gecko.tsv` and `gecko.ttl`, better imports
3. create new, smaller `Makefile`
4. update this

[2020-05-06 16:38] mcourtot commented on #33
We should have a virtual house warming party.

On Wed, 6 May 2020, 13:31 James A. Overton, <notifications@github.com>
wrote:

[2020-05-07 08:02] mcourtot commented on #50
Just to confirm this will all be based to the traditional structure with the edit files and the purl managed releases?

[2020-05-07 08:29] mcourtot commented on #5
Can we please add this to the OLS load? thanks!

[2020-05-07 12:01] jamesaoverton commented on #50
Yes, it will be an ontology repository similar to other OBO projects.

But OBO projects are increasingly using templates for their terms, and I want to do the same. For example, well over half of all OBI term are defined in templates; we're trying to convert existing branches to templates; and most new terms are added to templates.

https://github.com/obi-ontology/obi/tree/master/src/ontology/temp

[2020-05-07 15:39] beckyjackson opened #51 "Incomplete alignments between CINECA & Genomics England"
While working on mapping Genomics England up to CINECA, I've come across many instances where CINECA does not have a good category for a Genomics England field.

For example, Genomics England has many fields about A&E department diagnoses/ICD-10 codes, which may be either disease or trauma. CINECA only has categories relevant to disease diagnoses.

Another thing that many of these cohorts collect

[2020-05-07 16:02] #5 closed

[2020-05-07 16:12] jamesaoverton commented on #5
Done: http://193.62.55.169:8080/ontologies/maelstrom

[2020-05-12 14:37] jamesaoverton commented on #51
@mcourtot: Since Maelstrom categories are a close match for many GE terms, can we use them for mapping?

[2020-05-15 19:06] jamesaoverton commented on #45
I have an instance of OxO running, but it only has one mapping in it right now: http://193.62.55.169:8081/search

Two questions for @mcourtot:

1. OxO does not have any branding options that I can see. What do you want me to do about that?
2. I thought that OxO did the actually mapping work, but it doesn't, it just displays the mappings. Do you know what tool was used to generate the mappings the

[2020-05-15 19:26] jamesaoverton opened #52 "Add xrefs to OWL files"
For OxO #45 we need our various cohort OWL files to include xrefs pointing to GECKO. All the information is in the mapping sheets, we just need to add the annotations.

I think this only makes sense for the "primary" cohort OWL files, such as `build/koges.owl`. For the ones like `build/koges-gecko.owl` we already have a subclass or equivalence assertion, so an xref seems redundant. But I could be

[2020-05-16 06:52] matentzn commented on #45
To be honest, no.. Its an OxO specific format, and we simply generate it on the fly with pandas (at least I do). Maybe @udp knows more, but I doubt it, since we have just resumed working on OxO again. You are working at a really bad time, OxO will undergo big changes soon, with SSSOM being the primary data standard for the mapping (which some will implement for ROBOT).. So for now, Just use Python

[2020-05-16 11:33] jamesaoverton commented on #45
Thanks @matentzn. I was trying to get at something different, but maybe I'm just confused.

I got the `oxo-loader` code working to find xrefs in our OLS instance (I think -- we don't actually have any yet). So I don't think I need that bit of Python.

I'm confused because I thought there was more to OxO than visualizing xref statements. I thought that there was some sort of synonym alignment or sl

[2020-05-16 12:46] matentzn commented on #45
Ahh sorry I misunderstood you! OxO is just for serving existing mappings. The fact that it serves xrefs is just a secondary feature (to make all the OBO xrefs available into a centralised resource), and the main OLS use case is to ingest all kinds of mappings across ontologies and serve them up.. so no, it does not do any magic. There is a stack called PAXO which I thought did something based on l

[2020-05-16 12:58] jamesaoverton commented on #45
Ok., that's fine. We're doing manual mappings for IHCC, they'll be reliable, and OxO can visualize them.

A few years ago I tried to do some automated text-based (magic) mappings between NCIT and some OBOs. It didn't work very well. But I wanted to make sure I wasn't missing anything.

Thanks again @matentzn.

[2020-05-21 14:09] mcourtot commented on #50
just pinging this up - are you able to assess whether this is doable before end of May?

[2020-05-21 14:16] jamesaoverton commented on #50
Yes, I will get it done. It shouldn't take long at all.

I planned to have this done already, but OXO is taking more time than I expected.

[2020-05-21 14:44] jamesaoverton commented on #4
It would also be good to get a proper URL for the OLS/OXO server.

[2020-05-21 14:48] jamesaoverton commented on #45
@mcourtot I still need an answer to this question: OxO does not have any branding options that I can see. What do you want me to do about that?

[2020-05-21 15:00] udp commented on #45
@jamesaoverton  we will be adding similar customisation options to OxO as we have for OLS.  I will let you know when this has been implemented (likely this week)

[2020-05-21 15:10] jamesaoverton opened #54 "Add documentation"
We've been moving fast, but now it's time to write some high-level documentation. First draft:

- `Makefile`
  - a block comment at the top of each major section
  - make the OWL file more promiment
  - make the tree stuff less prominent

- `README.md`
  - overview
  - example workflow for a single cohort
  - what needs to be done to add a new cohort

[2020-05-21 15:18] beckyjackson commented on #54
#53 has some changes to the `Makefile`. Is that ready to merge in? I don't want to run into any weird conflicts if I'm rearranging things.

[2020-05-21 15:31] #52 closed

[2020-05-29 07:33] mcourtot commented on #4
Let's plan to use ihccglobal.org/dictionaryname/ for the IRIs, but for GECKO for which we'd like an OBO Purl.

[2020-05-29 07:35] mcourtot opened #56 "Provide instructions to Chip about IRI redirection"
As per https://github.com/IHCC-cohorts/data-harmonization/issues/4, we will use ihccglobal.org/dictionaryname for the cohorts. This means we need to redirect to our OLS instance from ihccglobal.org.

Chip said he could manage that, can we give him instructions?

[2020-05-29 11:57] jamesaoverton commented on #4
Ok, but can you give me an example? What IRI do you want for this term:

http://193.62.55.169:8080/ontologies/koges/terms?iri=http%3A%2F%2Fexample.com%2FKoGES_0000067

[2020-05-29 12:52] jamesaoverton commented on #54
Closed by #55

[2020-05-29 12:52] #54 closed

[2020-05-29 12:52] #30 closed

[2020-05-29 12:57] #33 closed

[2020-05-29 12:59] #32 closed

[2020-05-29 14:22] beckyjackson commented on #51
I mapped Maelstrom to CINECA with some success - there are multiple top-level Maelstrom categories that don't really fall under CINECA, but have been useful for the other cohort mappings:

- Cognition, personality and psychological measures and assessments
- Death
- Health and community care services utilization
- Perception of health, quality of life, development and functional limitations
- Life

[2020-05-30 01:04] chipburris commented on #56
Do you want to be able to link to something inside of the Atlas?
The IHCCGlobal.org Site is based on Wordpress.  I may be able to set a pattern, though, for some redirection.

One thing to keep in mind is I did reserve all of IHCCGlobal.app for the Atlas.

[2020-05-30 01:06] chipburris commented on #56
I see some issues as well. I am trying to parse the format of the URL

http://193.62.55.169:8080/ontologies/koges/terms?iri=http://example.com/KoGES_0000112

[2020-06-02 11:30] mcourtot commented on #56
We also need to decide on a URL for the registry - The EBI cloud team says redirection can be done on our side without their intervention.

[2020-06-02 15:02] jamesaoverton commented on #56
Discussed with Chip and Melanie on a call today:

1. PURL for data dictionary terms: purl.ihccglobal.org CNAME 193.62.55.169
2. OLS instance: registry.ihccglobal.app CNAME 193.62.55.169
3. OXO instance: mapping.ihccglobal.app CNAME 193.62.55.169
4. IHCC Atlas browser (Overture) OICR team: ihccglobal.app A RECORD ??? (not yet public)

Example: <https://purl.ihccglobal.org/KoGES_0000001>  ==> <https

[2020-06-02 15:19] chipburris commented on #56
Done  I added  PURL/registry/mapping  to both ihccglobal.org and ihccglobal.app

[2020-06-04 08:25] mcourtot commented on #56
Hi Chip - mapping.ihccglobal.app and registry.ihccglobal.app don't seem to resolve on my side. Can you help?

C02XG3Q1JHD3:~ courtot$ curl -v -L registry.ihccglobal.app
*   Trying 193.62.55.169...
* TCP_NODELAY set
* Connected to registry.ihccglobal.app (193.62.55.169) port 80 (#0)

Could it be the port which should be 8080 for OLS and 8081 for OxO? It seems to go to 80 by default.

[2020-06-04 09:01] mcourtot opened #57 "GECKO version on OLS doesn't seem to be the right one"
http://193.62.55.169:8080/ontologies/gecko/terms?iri=http%3A%2F%2Fexample.com%2FGECKO_0000017

This doesn't show the CMO term "blood measurement value" for example
![Screenshot 2020-06-04 at 10 00 27](https://user-images.githubusercontent.com/2214135/83736981-4f830a00-a64a-11ea-859d-66edee6629c8.png)

[2020-06-04 11:13] jamesaoverton commented on #56
That shows that what Chip did worked: The request is going to the right server.

I will revise the server configuration today.

[2020-06-04 18:28] jamesaoverton commented on #4
This should all be working now: https://purl.ihccglobal.org/KoGES_0000060

[2020-06-04 18:28] #4 closed

[2020-06-04 18:30] jamesaoverton commented on #56
These are all working now:

- https://purl.ihccglobal.org/KoGES_0000060
- https://registry.ihccglobal.app/index
- https://mapping.ihccglobal.app/

Thanks @chipburris!

[2020-06-04 18:30] #56 closed

[2020-06-04 18:31] jamesaoverton commented on #50
https://github.com/IHCC-cohorts

[2020-06-04 18:31] #50 closed

[2020-06-04 18:32] jamesaoverton commented on #45
The basics are working:

- https://registry.ihccglobal.app/index
- https://mapping.ihccglobal.app/search

I'll close this, and we can open new issues about specific problems.

[2020-06-04 18:32] #45 closed

[2020-06-04 18:40] jamesaoverton commented on #57
The IHCC OLS instance currently has the "small" GECKO with just the CINECA terms. Would you prefer this "full" GECKO?

https://droid.ontodev.com/GECKO/branches/master/views/build/gecko-full.html

[2020-06-09 09:43] mcourtot commented on #57
I think that'd be better. Should the CINECA classes be incorporated under entity?

[2020-06-09 09:47] mcourtot commented on #57
I think I need to review the file - I couldn't find the Maelstrom xrefs for example. I may be looking in the wrong place or I'm misunderstanding what the full GECKO should be, probably worth looking into this and make sure we are on the same page.

[2020-06-11 14:31] jamesaoverton commented on #57
We've been putting the xrefs in the cohort files, pointing to GECKO. We can add them to GECKO as well, but if we have 50+ cohorts then we might have a lot of xrefs on a given GECKO term.

@mcourtot Please confirm whether or not you want the xrefs duplicated in GECKO.

[2020-07-29 15:55] jamesaoverton opened #59 "Orchestrate workflow, browser, and mappings using Docker Compose"
Building on #45, I would like a single `docker-compose.yml` file (and maybe a supporting script or two) in this repo that can orchestrate:

- building GECKO from https://github.com/IHCC-cohorts/GECKO
- build/run the code in this repo
- run OLS and load GECKO and the ONTS from this repo: https://github.com/IHCC-cohorts/data-harmonization/blob/master/Makefile#L63
- run OxO and load mappings from OLS

[2020-08-14 14:08] jamesaoverton opened #61 "Research tools for automated mapping"
We want to make the submission process for new data dictionaries as easy as possible for submitters, and take best advantage of the mappings already in the system. So we will try to automatically map the submitted terms to GECKO, and offer those automatic mappings as suggestions to the submitter.

The first thing is to look for existing open source tools that could do the core task, and that fit w

[2020-08-14 14:24] mcourtot commented on #61
@jamesaoverton @matentzn can you tell me a bit more what are the issues with zooma? we're using it in biosamples on a daily basis currently, and are planning on using for CINECA (which share goals with the IHCC browser) - if we pick something else I need to be able to explain why.

[2020-08-14 14:25] jamesaoverton opened #62 "Decide on mapping template"
We are moving to a "self-serve" model, where domain experts for the cohorts will be submitting their own data dictionaries into the system. We're developing a workflow where each submission gets a Google Sheet that the submitter can use to list their terms and the mappings into GECKO. We want to use the same mapping template for all the submissions, going forward. This issue is for nailing down th

[2020-08-14 14:33] matentzn commented on #61
No no, you can use Zooma, no problem - if you have the time! I was thinking more in terms of development + deployment _right now_. Zooma is at a crossroads between two different development stacks (version 2 and version 3 - we dont know which will win), which are not compatible (@udp is working on that), and is likely being revised significantly in the next months. So in 2 months from now, I would

[2020-08-14 14:43] mcourtot commented on #61
Thanks for the feedback @matentzn. Agreed re docker - not sure it is really in scope for us to do that job (not saying we shouldn't if straightforward, but not the core mission of IHCC). From the functionality point ov view, it seems we'd like to do pretty much the same thing than BSD is doing - pass a list of terms and get matches - so just wondering why we can't use the current APIs for this.

[2020-08-14 14:48] matentzn commented on #61
I dont know what BSD is, but you are right in terms of your description of the problem. @jamesaoverton and I will look into it next week and come up with a reasonable solution! :)

[2020-08-14 19:23] jamesaoverton opened #63 "Stable serialization for cohort-data.json"
The `data/cohort-data.json` file seems to be scrambled when it is regenerated (I could be wrong) leading to bad diffs. It would be good if serialization was consistent.

[2020-08-17 19:21] beckyjackson opened #64 "Implement new GECKO mappings"
Replace old, super-specific GECKO mappings for the current cohorts with mappings to the new GECKO. We should use the template format described in #62

~Each cohort should have its own Google Sheet.~ Google Sheets will not be permanent.

[2020-08-17 21:09] beckyjackson commented on #62
These columns look good to me. I can't think of anything that's missing.

I like the idea of automatically assigning the ID via script, but the user will have to specify their prefix. That shouldn't be an issue, right?

I guess the workflow would be that the user enters in:
* Label
* Parent Term

and optionally:
* GECKO Category
* Comment

Then we run the script which assigns IDs to each row and a

[2020-08-17 21:23] jamesaoverton commented on #62
Yes, sounds good. We’ll have to ask for a cohort name and prefix.

[2020-08-18 14:58] beckyjackson commented on #62
Do we want to include a "Definition" column? Many cohorts have explanations of their terms, but they may not be "definitions", per se.

[2020-08-18 16:01] beckyjackson opened #65 "Add a maternity/pregnancy category"
The CINECA data model doesn't include anything regarding pregnancy or maternity.

Maelstrom has a "Reproduction" category under "Physical Measures", which is "information about physical functions".

I think it would be good to have a "Pregnancy/Maternity" or "Reproductive" category in CINECA. This could be placed directly under "questionnaire/survey data". Thoughts? CC @mcourtot @jamesaoverton

[2020-08-18 17:44] jamesaoverton commented on #62
@mcourtot What do you think about including a Definition column in the template?

My opinion is that it would be nice if it was filled out, but it does mean more work for submitters, and maybe that reduces the likelihood that they'll start and/or finish.

[2020-08-20 19:03] mcourtot commented on #65
Sounds great - in general it'd be good to align with other known efforts, such as Maelstrom. Can we add xrefs to the Maelstrom terms? I'm not sure they have unique IDs or else, but if possible to mention them otherwise as xref "Maelstrom:pregnancy" or similar. What do you think?

[2020-08-21 16:18] jamesaoverton opened #68 "Create JSON Schema for cohort-data.json"
As discussed on the IHCC call today, we're planning to maintain the status quo for communicating our results from data-harmonization to the Atlas browser: the [`data/cohort-data.json`](https://github.com/IHCC-cohorts/data-harmonization/blob/master/data/cohort-data.json) file.

(We had been discussing a revised API, but the current approach is working so far. We can revisit that topic later, depend

[2020-08-25 15:55] beckyjackson opened #70 "Write a table validation script"
We need a validation script for new cohort mappings, like the ones in the `templates/` directory.

This will be a small python script that looks at the contents based on the headers described in #62.

As far as workflow goes:
1. User fills out the Google Sheet
2. Run `cogs fetch && cogs pull` to update the local version (DROID button to kick this off, includes steps 2-5)
3. Run this script over th

[2020-08-25 16:02] jamesaoverton commented on #70
Good list. Yes, this script could handle automated ID assignment.

[2020-08-25 16:14] jamesaoverton opened #71 "Implement and test automated mapping script"
@matentzn has Zooma working. Now we need to hook it up to our templates #62.

Right now we have a single "Suggested category" column in the templates. We need a script to fill this column from Zooma. Multiple suggested mappings are possible, so I would like to try an ordered, pipe-separated list of suggestions. I think it should look like this:

[Edited] `GOOD GECKO:0000069 alcohol | MEDIUM GECKO:

[2020-08-25 16:25] #64 closed

[2020-09-01 15:04] #63 closed

[2020-09-07 15:39] #70 closed

[2020-09-09 09:35] theisuru opened #78 "Running a quick test locally without affecting public google sheets"
Hi, I wanted to quickly test the tool without really doing any global changes to project related files. As to the documentation I have to modify [ROBOT template Google spreadsheet](https://docs.google.com/spreadsheets/d/1FwYYlJPzFAAItZyaKY2YnP01yQw6BkARq3CPifQSx1A) and [master GECKO mapping sheet](https://docs.google.com/spreadsheets/d/1IRAv5gKADr329kx2rJnJgtpYYqUhZcwLutKke8Q48j4). I am bit worrie

[2020-09-09 13:15] jamesaoverton commented on #78
The README is a step behind the current work, sorry. You can edit your local copies of the TSV files in `templates/` and then run Make to update things.

[2020-09-11 16:55] matentzn opened #79 "Fix versions for python dependencies?"
Just a reminder to self ([requirements](https://github.com/IHCC-cohorts/data-harmonization/blob/master/requirements.txt)). Also, we could consider to add the requirements.txt install as a make dependency? Not sure what the best practices are (I am saying this because I when I was running a first round of tutorial with @theisuru I realised that well, you need all the libs installed to run `make upd

[2020-09-11 17:00] jamesaoverton commented on #79
We have been adding something [like this](https://github.com/knocean/practises/tree/master/python#setup) to our READMEs:

[code]

Then run Make. Is that what you mean?

[2020-09-11 17:36] matentzn commented on #79
Yeah sure; maybe its fine to just document it rather than adding it to the makefile as a dependency. That was just a second thought. The main thing was fixing the versions!

[2020-09-14 10:46] matentzn opened #81 "Git error when running pipeline in ODK container"
When running the pipeline inside the ODK container, I get this error whenever I invoke make (any goal):

[code]

The error does not cause the pipeline to fail, but I would like this to go away; seems that this is a relatively new git feature too. Can we perhaps get the branch somehow differently?

[2020-09-14 10:46] matentzn commented on #81
@jamesaoverton

[2020-09-14 15:37] jamesaoverton commented on #81
Becky is using `git branch --show-current` to guess the cohort ID when working on a new cohort. I want to be more explicit about it, so we'll end up doing it a different way.

[2020-09-15 17:52] beckyjackson opened #83 "Improve template workflow"
The "source of truth" Google spreadsheet is getting out of sync with the master branch of this repo. We should switch to using the COGS workflow for all template development.

Additionally, we should remove the ROBOT template strings from the templates we show in the repo and only add this row in when we are building the ontologies from templates (in the `build/` directory).

[2020-09-18 18:42] #83 closed

[2020-09-26 14:44] jamesaoverton commented on #62
We're going ahead with a Definition column. This is mostly implemented now.

[2020-09-26 15:33] mcourtot commented on #62
Can we have required and optional columns? I agree with your assessment re definition above. Though they could be used for the text mining - sometimes labels are just collections of acronyms.

[2020-09-28 12:00] beckyjackson opened #89 "Parent terms in `templates/` should be labels"
Some sheets use IDs (e.g., KoGES) and some use labels (e.g., GCS). All sheets should use labels.

[2020-09-28 12:03] beckyjackson opened #90 "Get validation workflow running with DROID"
The script should be included in the [Makefile](https://github.com/IHCC-cohorts/data-harmonization/blob/master/Makefile#L13). Running this script should fetch & pull the sheets from Google Sheets then run validation. The validation should be applied to the sheets.

@jamesaoverton can this be a bash script or would you rather have `validate.py` updated to do all the tasks?

[2020-09-28 12:15] beckyjackson commented on #90
Following up, I figured this would just be a button in DROID that runs in the console, rather than a CGI script. Is that correct?

[2020-09-28 12:19] matentzn commented on #90
Hey @beckyjackson I am currently finishing up step 3 in #77

The interface looks something like:

![image](https://user-images.githubusercontent.com/7070631/94431269-f573fa80-018c-11eb-97d0-e11e679958db.png)

I think it does not really matter how you implement the validation, but I run my part (3) it something like this:

Makefile:
[code]

[2020-09-28 12:59] #89 closed

[2020-09-28 14:32] jamesaoverton commented on #90
@beckyjackson Yes, a task in the `Makefile` would be fine. Then this needs to link to the task:

https://github.com/IHCC-cohorts/data-harmonization/blob/master/Makefile#L13

Assume that COGS has already shared the Google Sheet with the submitter. COGS is working with files in `build/metadata.tsv` and `build/terminology.tsv`. Please add validation for the metadata sheet to your script.

[2020-09-28 15:31] matentzn commented on #90
If you do metadata and terminology separately, that would be good - I already need metadata.tsv in step 3, so we could validate that one as part of the mapping process

[2020-09-28 15:47] matentzn opened #92 "Data dictionaries: How to handle foreign ids?"
Currently, foreign ids are implicitly mapped by appending them to the data dictionary ids. For example, we have a term

`Admission source` in the Genomics England data dictionary, that has the official genomics england id `admisorc`. We assigned it, internally, the ID `GE:admisorc`.  The good thing about this is that it is 1) compact, i.e. does not take a lot of space, and 2) we dont need a sepera

[2020-09-28 19:09] jamesaoverton commented on #92
@mcourtot What are your thoughts on this? Should we reuse the GE IDs in the PURLs that we're creating, or switch to numeric IDs like the other cohorts?

[2020-09-29 10:54] matentzn opened #95 "Duplicate ids in templates"
The following ids are non-unique:

[code]

[2020-09-29 12:21] beckyjackson commented on #95
If we change everything to numeric IDs in #92 this will be resolved. Maybe that's a good argument to change everything to numeric IDs.

[2020-09-29 12:26] matentzn commented on #95
Are these Ids non-unique in the source data dictionaries? That should be reported back to them! Even if we turn them into foreign id annotations, they should be unique, no?

[2020-09-29 12:43] beckyjackson commented on #95
Since I copied everything from the source data dictionaries, I believe so. I will review these in the original data though!

[2020-09-29 13:36] matentzn opened #96 "A few data dictionary entires have no GECKO terms mapped to them?"
I was implementing a check to prevent that sort of thing; should it be allowed? @jamesaoverton @beckyjackson

[code]

[2020-09-29 13:38] beckyjackson commented on #96
My thought was that ideally all terms get mappings, but sometimes there just isn't a matching term in which case you might have to leave it blank and perhaps request a new GECKO term?

[2020-09-29 13:40] matentzn commented on #96
Ok! I am not fussed. I just would wonder what the UI would do if they encountered unmapped data - not show it at all? Maybe its better to map unmapped data to the most general applicable term instead?

[2020-09-29 14:15] beckyjackson commented on #95
GCS:DrugCurrentuse
Appears on two different tabs in the data dictionary, but I suspect they are the same term. We should merge this one.

For Vukuzazi, it looks like they may be unintentional duplicates?
![image](https://user-images.githubusercontent.com/16750150/94570192-9241a100-023c-11eb-8049-b95ab6108fd8.png)

Perhaps it was meant to be something like `VZ:UrineSample1Collected` and `VZ:UrineSa

[2020-09-29 14:59] matentzn commented on #95
Maybe thats for @mcourtot to think about - communicating this back to the Vukuzazi people?

[2020-09-29 15:12] matentzn opened #97 "File temp path configurability in worflow.py"
@jamesaoverton  is aware of this, but I just wanted to document it:

To make `src/workflow.py` work on my machine, I had to change

[code]

to

[code]

[2020-09-29 15:26] jamesaoverton commented on #62
Yes, some columns will be optional, and we'll have instructions to make this clear.

[2020-09-29 15:26] #62 closed

[2020-09-29 15:28] matentzn opened #98 "Redirect to branch after upload process is done"
Right now, after the data dictionary is updated, DROID is redirected to some page that allows viewing the spreadsheet, and a back button.

1. The back button currently does not work
2. Aside from that: I don't really see the need for this intermediate site;  why not just redirect to the branch page right after upload? The button to view the spreadsheet is there as well.

@jamesaoverton

[2020-09-29 15:29] beckyjackson commented on #98
I fixed the back button in #94 but we might want to rework it anyway 🙂

[2020-09-29 15:40] beckyjackson commented on #97
I also made a fix for this in #94 but it may be too general.

[2020-09-29 16:08] matentzn commented on #92
After our last conversation, we should probably:

1. Make a new column that allows mapping external ids
2. Generate our own IDs according to the PREFIX:000000 recipe

[2020-09-29 17:38] jamesaoverton commented on #92
Yes @matentzn, please implement that.

[2020-09-29 17:53] jamesaoverton commented on #96
The Atlas system only shows what's in the JSON file we build for them, so that's flexible.

I think leaving some mappings blank is more clear for the user than mapping to a top-level node (although it might make our lives a little harder). I could be convinced otherwise...

[2020-09-29 18:00] jamesaoverton commented on #97
@beckyjackson's change is good: `file_pattern = re.compile("/.+/ring-multipart-\d+.tmp")`

This is a hack around an issue with DROID: https://github.com/ontodev/droid/issues/49

[2020-09-30 08:21] matentzn commented on #96
Maybe this should be a ticket for Giselle.. I guess requesting new GECKO terms would be part of her work?

[2020-09-30 08:22] matentzn commented on #96
Maybe @mcourtot can chime in here as well.

[2020-10-01 12:50] matentzn opened #99 "Add "cancel" button to workflows.py"
Otherwise there is no way to go back to branch

[2020-10-02 17:30] matentzn opened #105 "Revise validation rules for emails in upload data dictionary workflow"
In our last experiments, using an EBI email address (bogus@ebi.ac.uk) was not accepted as a valid email, despite being attached to a Google account.

[2020-10-02 17:32] matentzn opened #106 ""Share Google Sheet with submitter" workflow not working"
The workflow "Share Google Sheet with submitter" currently does not do anything (i.e. does not share the Google sheet with the submitter).

[2020-10-02 17:41] matentzn opened #107 "Suggested categories still in template during “add data dictionary to VC step”"

[2020-10-02 17:44] matentzn opened #108 "Building data dictionaries needs to be run twice - bug"
You have to run the  Make test build twice right now before you can add the files (because the COHORT var does not update correctly).

[2020-10-02 17:52] matentzn opened #109 "License metadata field currently not validated to be URL"
Not a big issue; just for future reference. The documentation is asking for a URL, but right now, adding

`CC-BY 4` as a license string is not flagged up during validation.

[2020-10-02 17:58] matentzn opened #111 "Diff of data/cohort-data.json still too large"
I made a commit to normalise the diff [here](https://github.com/IHCC-cohorts/data-harmonization/commit/c3191b67338d48dd45407a46bf45f5ebf41f4fa2#diff-0859d67cfe8e5b876b2a6057a39022bd).

To not confuse the Data folks, it would be good if we could make sure that changes to cohort-data.json are minimal. (IMO, only one block of green, for the new data dictionary).

I will be bold and assign @beckyjacks

[2020-10-02 17:58] matentzn commented on #111
Here is a test PR with the diff as well:
https://github.com/IHCC-cohorts/data-harmonization/pull/110/files

[2020-10-02 17:59] matentzn commented on #111
(the other json files were fine after normalisation)

[2020-10-02 18:03] matentzn opened #112 "Pre-populate mapping field with best suggestion >0.97"
As requested by @mcourtot and @GiselleMarie (and discussed with @jamesaoverton) we should pre-populate the dropdown menu with the Gecko categories in Google with the best guess _if it is higher than 0.97_ (this makes sure we only add certain mappings). So if the best guess is lower (or equal) than 0.97, keep the mapping field blank.

[2020-10-02 18:18] matentzn opened #113 "Doing no mappings at all will result in validation success"
Minor, just so its documented. But users could, in principle, submit an entirely unmapped data dictionary. Maybe thats fine, its definitely not a priority.

[2020-10-02 18:21] matentzn opened #114 "Drop-down not sorted alphabetically after suggested matches."
After the suggested mappings, the remaining GECKO terms in the drop down should be sorted alphabetically.

[2020-10-02 18:24] matentzn commented on #61
This is done and good enough for now; using scikit learn. In future editions, consider NLTK and incorporating more fields.

[2020-10-02 18:24] #61 closed

[2020-10-02 18:28] matentzn opened #115 "We currently allow mapping data items to multiple GECKO terms"
This issue is just to be explicit about it. Sometimes, a data dictionary term fits in more than one GECKO category, thats why we allow this. @mcourtot this issue is assigned to you and if you agree with allowing this, then you can immediately close it again.

[2020-10-02 18:36] #98 closed

[2020-10-02 18:37] matentzn commented on #71
This has been completed.

[2020-10-02 18:37] #71 closed

[2020-10-02 18:39] matentzn commented on #90
I think this is done now.

[2020-10-02 18:39] #90 closed

[2020-10-02 18:42] matentzn opened #116 "Finish up documentation"
Create github.io pages with all the necessary documentation.

[2020-10-02 18:49] matentzn opened #117 "Should the IHCC Data Steward curate labels?"
Some data dictionaries have cryptic primary labels ([example](https://registry.ihccglobal.app/ontologies/gcs/terms?iri=https%3A%2F%2Fpurl.ihccglobal.org%2FGCS_TobNumberPerDay_4&viewMode=All&siblings=false)). The question raised by @mcourtot was: should we make it part of the data stewards mandate to create human-readable labels where there are none? This would make automated mappings more reliable

[2020-10-02 18:50] #59 closed

[2020-10-02 18:51] matentzn commented on #57
@mcourtot friendly ping :)

[2020-10-02 18:54] matentzn commented on #96
We have decided, that, for now, having no mapping is fine. Dealing with this in the future is up to @mcourtot

[2020-10-02 18:54] #96 closed

[2020-10-02 18:56] matentzn commented on #99
Unnecessary now, as opening in new tab.

[2020-10-02 18:56] #99 closed

[2020-10-03 14:02] jamesaoverton commented on #112
I had an idea to make this a little fancier. I don't think we need to do it, but maybe someone else will think it's important:

When the system does this automatic assignment, we could also highlight these assignments ("INFO", blue) with a note that they're automatic. Subsequent passes of the validator would remove these highlights -- the submitter only needs to see them once.

[2020-10-03 14:06] jamesaoverton opened #118 "Fix workflow script to keep sheet titles"

[2020-10-03 14:25] jamesaoverton commented on #105
I suspect it's just a problem with this regex I copied from Stack Overflow: https://github.com/IHCC-cohorts/data-harmonization/blob/master/src/workflow.py#L17

[2020-10-03 21:11] matentzn commented on #112
Sounds great to me!

[2020-10-04 18:33] beckyjackson commented on #114
Thanks for catching this. It looks like it's sorted case-first, so all the uppercase terms appear first! I'll fix this.

[2020-10-04 19:11] beckyjackson commented on #111
It looks like the cohort names aren't sorted alphabetically and running the task to rebuild the cohort data ends up with the values sorted alphabetically. I added a cohort and regeneerated the data from master and the diff was a mess. I commited my changes to a test branch then I removed the cohort from `data/metadata.json` and ran `make data/cohort-data.json` again. The second diff looked as-expe

[2020-10-05 08:21] mcourtot opened #120 "Add metadata for cohort 'admin'"
As per @matentzn request, would it be possible to expand the cohort metadata to include the fields at https://ihccglobal.org/membercohorts/? Fields should be optional.

in addition to the existing

Cohort ID
Title
Description
License
Rights

Also, do we need both License and Rights?

[2020-10-05 10:45] #112 closed

[2020-10-05 10:45] #114 closed

[2020-10-06 15:52] jamesaoverton commented on #120
@matentzn is working on this. License and rights were discussed here: https://github.com/IHCC-cohorts/data-harmonization/issues/3#issuecomment-595808865

[2020-10-07 10:29] #107 closed

[2020-10-07 11:17] matentzn commented on #108
This has been fixed.

[2020-10-07 11:17] #108 closed

[2020-10-07 11:29] matentzn commented on #120
@mcourtot Since IHCC seems to have all this metadata already - shouldn't we be using that rather than asking the *data dictionary maintainers* again for all these? These seem to be all:

- Cohort Name (that is our "Title")
- PI/Lead
- Regions
- Enroll Start
- Enroll End
- Enrolled
- Target Enrollment
- Genomic Data
- Env. Data
- Bio specimens
- Phenotypic Data
- Data Sharing
- Date Verified

So wh

[2020-10-07 11:30] matentzn commented on #111
You are right, all good now!

[2020-10-07 11:30] #111 closed

[2020-10-07 11:30] matentzn commented on #111
Thaaanks!

[2020-10-07 11:54] mcourtot commented on #120
I think it's about adding them to the template and the ontology, rather than filling the values in - you are right they should be optional, and for those cohorts for which we already have the info we should be able to pull it (though at the moment this is csv powered for ihcc afaik) New cohorts will fill the values in.

[2020-10-07 12:09] matentzn commented on #120
We can easily add these optional fields, but it seems like we would be duplicating the gathering of this information if the process that does it for https://ihccglobal.org/membercohorts/ does exactly the same? Wouldnt it be better to have one central process gathering this information, and not two disconnected ones? I was under the assumption that the data harmonization stuff was only about the ma

[2020-10-07 19:02] matentzn commented on #105
Indeed, could be to do with the additional period:

![image](https://user-images.githubusercontent.com/7070631/95375797-0bde2c80-08d8-11eb-82df-8f30dec946f9.png)

[2020-10-27 13:59] jamesaoverton commented on #116
Note to self: fix email address in ihcc-data-dictionary-registration-template.xlsx

[2020-10-27 14:42] jamesaoverton commented on #92
For example https://github.com/IHCC-cohorts/data-harmonization/blob/b807eac0ec61d6eb0bc26a2d61e8cb16010d8994/data_dictionaries/gcs.owl#L208

[2020-10-27 14:42] #92 closed

[2020-11-04 15:24] jamesaoverton commented on #116
Done!

[2020-11-04 15:24] #116 closed

[2020-11-09 14:41] beckyjackson opened #128 "Rethink mappings to "basic cohort attributes""
GECKO terms like "aims and objectives" and "location" (e.g., the location in which the cohort population is) seem like they are cohort metadata items, rather than terms that should be mapped to individual data dictionary items.

I think this is true for all the terms in the "basic cohort attributes" branch.

I'm wondering if we should add these to the Metadata table as True or False fields? Or eve

[2020-11-09 14:53] beckyjackson commented on #128
@rosibaj this may result in a change to how these variables are tracked in the cohort JSON so let's keep in touch about that.

[2020-11-10 14:37] #105 closed

[2020-11-10 14:38] jamesaoverton commented on #118
Fixed by #131

[2020-11-10 14:38] #118 closed

[2020-11-10 14:38] jamesaoverton commented on #106
Fixed by #131

[2020-11-10 14:38] #106 closed

[2020-11-10 17:15] beckyjackson opened #132 ""Open Google Sheet" returns error"
I received an email that the Google sheet was created and shared with me, but when I try to open the sheet from the DROID dashboard, it looks the `.cogs` directory cannot be found.

I checked the server, and `.cogs` is present in `/var/www/droid.ontodev.com/projects/IHCC/workspace/metadata`.

My only idea is that because `src/workflow.py` is in the `src/` directory, perhaps it's looking for the `.

[2020-11-10 17:16] beckyjackson commented on #132
I'm still able to do other tasks with COGS from the `Makefile`, such as running the automated mappings.

[2020-11-10 17:22] beckyjackson opened #133 "Update headers for `cogs apply`"
`src/mapping-suggest/create-data-validation.py` and `src/validate.py` use the old COGS "apply" headers, which have been since updated. Due to this, trying to apply these tables fails. The new headers can be found here: https://github.com/ontodev/cogs#message-tables

[2020-11-10 18:06] #133 closed

[2020-11-24 16:44] beckyjackson opened #137 "Add "re-contact" and "data sharing" to Metadata sheet"
`re_contact`: if re-contact is in place
`data_sharing`: IRB-approved data sharing

This is a cohort-level item, same as `biospecimens` and `environmental_data`. It would look something like this in the JSON:

[code]

@rosibaj is this something you would want to/be able to add to the browser?

[2020-11-24 16:48] rosibaj commented on #137
@beckyjackson if this is provided in the JSON, then we can add the field to the browser; boolean fields like this show as a Any/Yes/No selector.

What does` re_contact` mean?  this may not be clear on the frontend for users.

[2020-11-24 16:50] beckyjackson commented on #137
This is from the DAC document, they just have it listed as "Re-contact in place". I believe this means that they re-contact study participants, but maybe @mcourtot could provide more insight?

[2020-11-27 15:30] mcourtot commented on #115
That does sound ok. Do you have a particular example you can share?

[2020-11-27 15:59] matentzn commented on #115
There are a few, for example this one:

https://registry.ihccglobal.app/ontologies/ge/terms?iri=https%3A%2F%2Fpurl.ihccglobal.org%2FGE_0000300

You can see, it is mapped both to "physiological" and "laboratory" measurement!

[2020-11-27 16:01] mcourtot commented on #115
hm - there is no definition or any kind of metadata, so hard to know whether that's correct or not. Should there at least be a definition if not a proper label or more attributes?

[2020-11-27 16:24] matentzn commented on #115
@beckyjackson - I assume there are no definitions for most of these data dictionary terms?

[2020-11-27 16:28] beckyjackson commented on #115
Correct. GE has some, but not all their terms have definitions

[2020-11-30 09:07] mcourtot commented on #115
so how was that term mapped? from "invest2_09" to "physiological" and "laboratory" measurement seems quite a leap :)

[2020-11-30 14:22] mcourtot commented on #120
We discussed capturing this to serve as source of truth for the IHCC website and others.

Helen Parkinson points to https://web.www.healthdatagateway.org/search?search=cohort&tab=Datasets as well as possible source of inspiration

[2020-11-30 14:50] beckyjackson commented on #115
@mcourtot GE has many of the same terms with different numbers, for example:
* invest2_01
* invest2_02
* invest3_03
... and so on

Usually the "01" term, while it doesn't have a definition, has a label. In this case, the label is "A&E Investigation: 2 character". Since there was no context to this, I assumed it had to be either a physiological measure (e.g., taking heart rate) or a laboratory meas

[2020-11-30 15:24] mcourtot commented on #115
I see thanks @beckyjackson

Would it be possible in such cases to add an editor note to the term explaining this inference? Maybe for future cohorts.

Actually that makes me think of mapping provenance - eg http://purl.obolibrary.org/obo/ECO_0000305 - and maybe something we should think about capturing at some point (again, nice to have and think about, not critically needed right now)

[2020-11-30 15:44] rosibaj opened #139 "`_` in cohort.json should be cleaned to Sentence Case"
Tree end  terms in the json, data are left as snake case.  for front-end presentation, this should sentence case. ex:

other_biosample_type --> Other biosample type
https://github.com/IHCC-cohorts/data-harmonization/blob/8581194693f20eed8ddf768515af1c1c6db9f7c8/data/cohort-data.json#L152

![image](https://user-images.githubusercontent.com/15824252/100630524-a5cebe00-32f8-11eb-8c37-71e13fa60221.png

[2020-11-30 18:16] #139 closed

[2020-12-03 14:28] beckyjackson commented on #137
Hi @rosibaj - I made a mock `cohort-data.json` entry based on the 6 new metadata variables I listed above (I updated the top comment). I added a few based on the IHCC DAC survey and the data management recommendations.

The new cohort data would look like this (I excluded the GECKO mappings to keep it shorter). These are the actual values for GCS:
[code]

Does this format look good to you? I put `

[2020-12-03 20:39] rosibaj commented on #137
@beckyjackson this looks fine. - placement of `ehr` and `longitudinal` lgtm

@mcourtot can you confirm what the `recontact_in_place` means?  I want to confirm as this may need a different header on ui to make it understandable to users.

[2020-12-14 13:06] matentzn opened #145 "Make sure data dictionary version iris resolve"
1. Explore options
   - [ ] Using github releases `koges\v2020`
   - [ ] Using python script that links to the commit at the data of the date.

2. Implement suitable workflow for maintaining data dictionary releases
   - [ ] if github release solution: make it easy to "release a single data dictionary" (Droid?)
   - [ ] if python script: Work with @jamesaoverton to fiddle python script into nginx

[2020-12-14 15:17] mcourtot commented on #145
I was just going to create a ticket for https://purl.ihccglobal.org/VZ_0000017 for individual terms as well - is this part of the same ticket?

[2020-12-14 15:51] matentzn commented on #145
This is a new ticket - should be much easier to solve! -> at least if the redirect is simply a redirect to OLS :)

[2020-12-14 16:38] jamesaoverton commented on #145
Sorry, I was sure that I had already configured term PURLs, but I didn't. I'll take care of this ASAP!

[2020-12-14 16:58] jamesaoverton commented on #145
I fixed the term IRIs. I'll fix the ontology IRIs now. @matentzn is working on the ontology version IRIs, which are a bit trickier.

[2020-12-14 17:05] jamesaoverton commented on #145
The main ontology IRIs should be working now, e.g. https://purl.ihccglobal.org/vz.owl

[2021-01-08 20:44] beckyjackson opened #149 "Hide suggested categories under a minimum confidence level"
Right now, the "suggested categories" part of the mapping template is filled with "survey administration" for almost every term with a confidence of 0.1 - 0.3. These are almost always incorrect suggestions, and I think having it there does more harm than good for the user.

I would rather have us display less suggested categories with a higher level of confidence. I think a good cutoff for our aut

[2021-01-11 14:58] beckyjackson commented on #149
@matentzn it looks like "survey administration" also gets assigned if it can't figure out what the category might be? For example, in one of the cohorts I'm working on now, their labels are not very informative, and all the terms were suggested "survey administration" with a confidence of 0.9.

[2021-01-11 15:04] matentzn commented on #149
That's I guess the downside of Machine Learning! It must be that this category is very often associated, and therefore serves as a kind of fall through.. Maybe we need to manually avoid mapping to "survey administration"? Alternatively, we switch off the ML based pipeline (or if you are interested: have at it! Maybe you can find ways to tweak it) and rely only on previous mappings like zooma does.

[2021-01-12 20:01] jamesaoverton commented on #149
I think it'll be faster for @beckyjackson to make these changes herself, as needed.

[2021-01-13 11:34] matentzn commented on #149
Maybe this is a good place to add a restriction, but I have not thought too long about it:
https://github.com/IHCC-cohorts/data-harmonization/blob/e911b9a857019f69b6bf42f6c454eb27f9e7ad85/src/mapping-suggest/merge-mapping-suggestions.py#L58

[2021-01-21 14:21] rosibaj commented on #137
@beckyjackson this list contains all of the cohorts - what is the list of cohorts that should just be available on the DAC portal?

[2021-01-21 14:32] rosibaj commented on #137
@beckyjackson a could questions about the data as well:
- can we make all values consistent?  i can see `Blood` and `blood`
- For the demo, we would like to add 2 temporary fields: `GWS Polygenic Risk Score collection` (true/false) and `Collected Imaging` (values of MRI , PET, and CAT).  Would you be able to add those to this draft?

[2021-01-21 15:07] beckyjackson commented on #137
I wasn't aware that there should be a different set of cohorts. @mcourtot could you let us know if the DAC portal should only show a subset of all cohorts?

Looking at [the JSON](https://github.com/IHCC-cohorts/data-harmonization/blob/2bf6cdf3b4fec122a6d26b428719ca700791ceec/data/cohort-data.json), I only see upper-case "Blood"

Yep, I can add these in. We are planning to add the imaging terms to

[2021-01-21 15:13] beckyjackson commented on #137
Just following up, I do not have "GWS Polygenic Risk Score collection" data for any of the cohorts.

[2021-01-22 08:57] mcourtot opened #160 "Case sensitivity in the browser facets"
During the dry run demo yesterday @christinayung showed the DAC browser and there were 2 blood facets: "blood" and "Blood"
Can you please check if this is in the JSON?

[2021-01-22 09:32] mcourtot opened #161 "Genomics England mappings"
I though Genomics england was using the OMOP model for their metadata - was that not present in the dictionary they gave us?

[2021-01-22 13:13] jamesaoverton commented on #160
@beckyjackson replied here saying she sees only "Blood": https://github.com/IHCC-cohorts/data-harmonization/issues/137#issuecomment-764707837

I just double-checked and I agree with her: I only see "Blood" in the JSON.

[2021-01-22 16:18] mcourtot commented on #160
sorry missed the issue from @rosibaj

@rosibaj @beckyjackson can we identify where the duplicate is coming from?

[2021-01-22 16:23] rosibaj commented on #160
@mcourtot @beckyjackson @jamesaoverton - the data in the dry-run yesterday was not from the updated data set that Becky sent yesterday.   In the most recent DAC data, I did not see this duplicate happening either.  Jon is deploying that data now, so i was going to do a final check in that view.

I will confirm here when that is complete, but i think that this particular note is non-issue right now

[2021-01-25 10:44] mcourtot opened #162 "Registry update?"
The DAC cohorts do not show at https://registry.ihccglobal.app/ontologies

[2021-01-25 10:45] mcourtot opened #163 "update label 'ontologies' in registry"
eg https://registry.ihccglobal.app/ontologies

it is odd to have data dictionaries under 'ontologies', and mixed in with the models (GECKO, DUO)

what do you think?

[2021-01-25 11:04] mcourtot opened #164 "Reset ontology tree does not work"
1. go to GECKO, https://registry.ihccglobal.app/ontologies/gecko
2. Open "basic cohort attributes", click on "aims and objectives", https://registry.ihccglobal.app/ontologies/gecko/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FIAO_0000005&viewMode=All&siblings=false
3. click 'reset tree' to go back up -> page is reloaded but does not lead to tree root

[2021-01-25 11:06] mcourtot opened #165 "Remove graph view button from registry"
in the top right of the little grey menu
![Screenshot 2021-01-25 at 11 05 33](https://user-images.githubusercontent.com/2214135/105698102-558d6a00-5efd-11eb-8427-edb2e8f44ee8.png)

Seems non functional and not required, https://registry.ihccglobal.app/ontologies/gecko/terms/graph?iri=http://purl.obolibrary.org/obo/IAO_0000005

[2021-01-25 11:09] matentzn commented on #164
Seems like this is the behaviour of OLS:
https://www.ebi.ac.uk/ols/ontologies/gecko/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FIAO_0000005&viewMode=All&siblings=false

This needs to be solved at OLS source I would think - Shall I move this ticket there? Better you do it, because they understand the importance when you say it. I also don't know what the behaviour should be to be honest!

[2021-01-25 11:10] mcourtot opened #166 "Download links do not work"
in the little listing on the right next to each dictionary at https://registry.ihccglobal.app/ontologies

eg https://registry.ihccglobal.app/ontologies/gecko/download, or https://registry.ihccglobal.app/ontologies/koges/download

[2021-01-25 11:12] mcourtot opened #167 "Error pages issues"
eg https://registry.ihccglobal.app/ontologies/koges/download says to contact ols-support@ebi.ac.uk which is wrong.
Page also lacks customisation at the top (logo etc)

![Screenshot 2021-01-25 at 11 11 49](https://user-images.githubusercontent.com/2214135/105698700-24616980-5efe-11eb-945d-486235e47b7f.png)

[2021-01-25 11:12] mcourtot commented on #164
great, thanks for confirming so promptly!

[2021-01-25 11:17] matentzn commented on #163
This would be a _very_ costly change! And I do no use the word _very_ lightly here.

[2021-01-25 11:47] mcourtot commented on #120
Could we push this up please? We are talking with other cohorts to make a generic model for admin data and would like this to be shared.

[2021-01-25 13:21] jamesaoverton commented on #120
We are capturing this data in the current template: https://github.com/IHCC-cohorts/data-harmonization/blob/master/data/ihcc-data-dictionary-registration-template.xlsx

[2021-01-25 13:37] mcourtot commented on #120
Should those fields be added to the GECKO? Maybe not the type of specimens as this should be derived from the dictionary itself, but the rest?

[2021-01-25 18:09] jamesaoverton commented on #162
I've updated the registry with all the cohorts we have. Unfortunately we're having trouble with OXO, but that's a separate issue: https://github.com/IHCC-cohorts/ihcc-config/issues/13

[2021-01-25 18:09] #162 closed

[2021-01-26 14:45] beckyjackson commented on #160
I believe this is resolved. @rosibaj can you confirm?

[2021-01-26 14:49] rosibaj commented on #160
@beckyjackson confirmig resolved and closing.

[2021-01-26 14:49] #160 closed

[2021-01-26 14:49] #132 closed

[2021-01-26 14:52] beckyjackson commented on #120
I think that the original issue here is resolved since these fields are in the registration template. @mcourtot is your last comment suggesting to add the metadata fields to GECKO? Can we open a separate issue for that?

[2021-01-26 14:56] beckyjackson opened #168 "Consider capturing mapping provenance"
From @mcourtot in #115 in regards to a mapping made by inference:

[2021-01-26 14:56] beckyjackson commented on #115
I believe this is resolved. I opened a new issue in regards to mapping provenance.

[2021-01-26 14:56] #115 closed

[2021-01-26 14:58] beckyjackson commented on #113
I don't think an unmapped dictionary should ever pass validation. That said, it may turn out that a cohort has a few unmapped terms that don't fit the GECKO model and that's OK... although in this case, we should encourage them to submit their unmapped terms to GECKO and see if we can fit them in.

Maybe we should require a certain percentage of the data dictionary to be mapped in order to submit?

[2021-01-26 15:05] beckyjackson commented on #109
`build/metadata.tsv` is not currently validated. I'll add this to the validation script.

[2021-01-26 15:06] #97 closed

[2021-01-26 15:07] beckyjackson commented on #95
Since we are using numeric IDs now, I believe this is resolved.

[2021-01-26 15:07] #95 closed

[2021-01-26 15:08] beckyjackson commented on #81
The cohort ID is now derived from the metadata sheet, so I believe this is resolved.

[2021-01-26 15:08] #81 closed

[2021-01-26 15:09] beckyjackson commented on #79
Is this still an issue? DROID is handling the dependencies now, so I don't think we need to worry about this?

[2021-01-26 15:10] beckyjackson commented on #78
I think this can be closed since we've changed our workflow. Any opposition?

[2021-01-26 15:13] beckyjackson commented on #51
This has been reworked in GECKO

[2021-01-26 15:13] #51 closed

[2021-01-26 16:39] beckyjackson commented on #161
The broader question is should we create a OMOP -> GECKO mapping here that can be reused, but that may be very difficult. This is not a priority for us.

[2021-01-26 16:39] #161 closed

[2021-01-26 16:52] beckyjackson commented on #109
We should use JSON schema to validate the metadata

[2021-01-26 16:52] #120 closed

[2021-01-26 16:53] beckyjackson commented on #68
The metadata schema should be separate from the mapped data schema

[2021-01-26 19:31] mcourtot commented on #68
Tagging @theisuru - it'd be good to add the ontology checks from the elixir validator in particular to represent data sharing with DUO terms (or free-text, but suggesting DUO would be helpful)

[2021-01-27 14:35] #109 closed

[2021-02-05 15:36] matentzn commented on #163
Melanie says: "change "Ontology" label to "Data dictionaries"?

[2021-02-05 17:11] jamesaoverton commented on #145
Resolved by #148

[2021-02-05 17:11] #145 closed

[2021-02-05 17:12] jamesaoverton commented on #166
I had hoped that #148 would resolve this, but it does not. So I'm pretty sure that this is an OLS problem.

[2021-02-05 17:12] #79 closed

[2021-02-05 17:12] #78 closed

[2021-02-09 14:38] jamesaoverton opened #170 "Replace `robot validate`"
We're still using `robot validate` here: https://github.com/IHCC-cohorts/data-harmonization/blob/master/Makefile#L161

But it's no longer included in the ROBOT 1.8.x series.

[2021-02-22 15:46] matentzn commented on #166
The diagnosis was a bit of a treasure hunt, but the solution beautifully simple. Thank you @udp for the support!

[2021-02-22 17:01] #166 closed

[2021-02-24 18:16] matentzn commented on #166
Tested just now and works:
https://registry.ihccglobal.app/ontologies

[2021-02-24 19:29] mcourtot commented on #166
Yay, thanks all!

[2021-03-26 11:42] mcourtot opened #171 "Add DUO codes at submission time"
We should aim for cohorts data owners to describe access conditions and data use limitations via the Data Use Ontology https://github.com/EBISPOT/DUO

[2021-05-27 20:40] rosibaj opened #172 "20210521 - Data Review from OICR"
- [ ] This PI's name included title, unlike all other leads.  This is inconsistent.
 https://github.com/IHCC-cohorts/data-harmonization/blob/7c0478c64c7b4b308188fc4556ec0928db8ac073/data/cohort-data.json#L833

[2021-05-28 15:25] rosibaj commented on #172
@beckyjackson @jamesaoverton @mcourtot I reviewed that data updates and just found this one inconsistency - this might look weird on the UI against all the other investigators names.  Is this something we can fix?

[2021-05-28 16:24] rosibaj opened #173 "20210528 - Facet Review form OICR"
In the next data update we will have several new cohorts included.  In the past, some of the DAC data had additional data elements (held here): https://github.com/IHCC-cohorts/data-harmonization/pull/159.  These unique data elements include:
- `active recruitment`
- `includes age 50-60`
- `recontact participants`
- `collected imaging`
- `polygeninc risk scores`

If we want any of these facets avai

[2021-05-28 16:25] rosibaj commented on #173
@mcourtot @christinayung Questions above regarding any new facets to be added to IHCC for the next release.  If we want any of these fields included, then i think Becky or James will need to be alerted!

[2021-05-31 14:19] beckyjackson commented on #172
Sure, I can just remove the "Prof."

[2021-05-31 14:43] #172 closed

[2021-06-07 21:00] rosibaj commented on #173
@christinayung @mcourtot Did you guys have any feedback on this?

[2021-06-25 12:29] mcourtot opened #175 "Missing OxO mappings?"
https://registry.ihccglobal.app/ontologies/koges/terms?iri=https%3A%2F%2Fpurl.ihccglobal.org%2FKOGES_0000089

shows that Arthritis is mapped to MONDO:0000001, but a search fro MONDO:000001 mappings in OxO IHCC returns no mapping
![Screenshot 2021-06-25 at 13 29 28](https://user-images.githubusercontent.com/2214135/123424941-6845c100-d5b9-11eb-885b-6ba559aa9725.png)

[2021-06-26 16:34] matentzn commented on #175
I will take this on, but it will be early July before I get to it!

[2021-06-26 18:38] mcourtot commented on #175
Thanks @matentzn! @theisuru if you want to give it try maybe it is a good way to get more familiar with the code/platform?

[2021-06-28 17:17] jamesaoverton commented on #175
We think that this is just because MONDO is not loading into OxO. If you would like to tackle this @theisuru we'll be happy to point you in the right direction and answer your questions.

[2021-06-30 03:11] beckyjackson opened #176 "Replace "robot tree" with Gizmos?"
We are currently using a never-released ROBOT command to generate the tree browsers for the workflow (`robot tree`). This code hasn't been updated and I don't think there are any plans to update it.

@jamesaoverton would it be beneficial to replace `robot tree` with `gizmos.tree`? We would just need to also create the SQLite databases, which we aren't doing for anything else at this time. That sai

[2021-06-30 14:08] jamesaoverton commented on #176
Yes, please go ahead and make that change.

[2021-07-05 10:40] cgarcia5 opened #179 "Validation problem when email does not have *.gmail"
I'm doing a cohort upload to test the DROID system.
When I tried to upload the file (attached) in "Step 1- Upload Cohort Data", I got a "400 Bar Request" error (picture attached) after submission.
It seemd there could be a problem with email address not having *.gmail.
Thanks
![Error image](https://user-images.githubusercontent.com/86718682/124459112-b7dc7780-dd85-11eb-8751-ce66feca32ba.png)
[ihcc

[2021-07-05 12:45] jamesaoverton commented on #179
Yes, that's a bug in our email validation. Thank you for reporting it. We'll get it fixed quickly.

[2021-07-15 08:41] matentzn commented on #175
@theisuru I have assigned yuo here, but feel free to reach out - we can solve it together.

[2021-08-05 12:26] mcourtot opened #180 "Ontology/term history link not working"
https://registry.ihccglobal.app/ontologies/chop/terms?iri=https%3A%2F%2Fpurl.ihccglobal.org%2FCHOP_0000992&viewMode=All&siblings=false

clicking on "term history" tries to redirect to diachron which is not installed.

https://registry.ihccglobal.app/ontologies/chop

clicking on "ontology history" tries to redirect to diachron which is not installed.

I don't think we need the ontology/term history

[2021-08-05 12:29] jamesaoverton commented on #180
@matentzn Can you please check on this?

This feature never works for me in the main OLS instance, either.

[2021-09-21 17:13] #176 closed

[2021-11-18 14:55] jamesaoverton opened #182 "Update maelstrom.owl"
We have a [`data_dictionaries/maelstrom.owl`](https://github.com/IHCC-cohorts/data-harmonization/blob/master/data_dictionaries/maelstrom.owl) file but it seems to be missing metadata, and it is not yet included in OLS:

1. [`metadata/maelstrom.ttl`](https://github.com/IHCC-cohorts/data-harmonization/blob/master/metadata/maelstrom.ttl) file does not seem to be merged into the OWL file
2. [`metadata

[2021-12-02 14:44] mcourtot commented on #182
the metadata file should be updated to refer to CC-BY 4.0, as per https://github.com/maelstrom-research/maelstrom-taxonomies

[2021-12-02 15:03] mcourtot commented on #182
https://github.com/IHCC-cohorts/data-harmonization/blob/master/data_dictionaries/maelstrom.owl doesn't show numerical IDs for Maelstrom terms eg   <owl:Class rdf:about="https://purl.ihccglobal.org/MAELSTROM_Act_daily_living">

Are we not assigning IDs?

[2021-12-02 15:33] jamesaoverton commented on #182
@beckyjackson will update `maelstrom.ttl` to use CC-BY-4 and the `maelstrom.owl` to use the numeric IDs assigned in the template.

@mcourtot Are there any other changes you want made to [`maelstrom.ttl`](https://github.com/IHCC-cohorts/data-harmonization/blob/master/metadata/maelstrom.ttl)?

[2021-12-02 15:37] mcourtot commented on #182
I think it's all good - what do you think?

[2021-12-02 15:40] jamesaoverton commented on #182
I think it's ok.

@beckyjackson please proceed with plan outlined above, and when that's done we'll coordinate with @theisuru to get the OLS and OXO instances updated.

[2021-12-06 15:45] jamesaoverton commented on #182
@theisuru we've completed steps 1-3 above. Can you please update the OLS/OXO server?

[2021-12-16 15:31] jamesaoverton commented on #182
@beckyjackson Please update our https://github.com/IHCC-cohorts/data-harmonization/blob/master/data/maelstrom.yml with the latest version here https://github.com/maelstrom-research/maelstrom-taxonomies/blob/master/AreaOfInformation.yml and rebuild the `maelstrom.owl`. Please make sure that our conversion script is using as much of the YAML content as possible. Note that about a dozen Maelstrom cla

[2022-01-07 15:40] jamesaoverton commented on #182
@theisuru Please update OLS/OXO so that Maelstrom will be included.

[2022-01-11 11:42] theisuru commented on #182
@jamesaoverton I updated the instances. Could you please check if it is there as expected.

[2022-01-11 17:22] jamesaoverton commented on #182
Thanks @theisuru!

I can see Maelstrom ontology here: https://registry.ihccglobal.app/ontologies/maelstrom

I can see Maelstrom mappings here: https://mapping.ihccglobal.app/datasources/MAELSTROM

So I'll close this issue.

The only strange thing is that I no longer see the pretty graph view of mapping connections on our OXO home page: <https://mapping.ihccglobal.app/>. I just see a blank space, w

[2022-01-11 17:22] #182 closed

[2022-01-12 06:49] theisuru commented on #182
I can also see that circular graph is not drawn in our OxO instance. Following API call returns an empty response. I will check why.
`https://mapping.ihccglobal.app/api/mappings/summary`

[2022-05-24 16:18] #179 closed

[2022-05-24 16:23] #170 closed

[2022-05-24 16:24] #149 closed

[2022-05-24 16:26] #68 closed

[2022-11-24 16:26] aoifemcm commented on #175
@theisuru I suspect this issue may not be limited to terms imported from MONDO. I also get no mappings for terms imported from other ontologies e.g. EUPATH, CMO, STATO. I haven't found any mappings for non-GECKO IDs.

Example terms:
EUPATH:0000305
STATO:0000093
CMO:0000021